#img {
	width: 1200px;
	height: 720px;
}
#time {
	position: absolute;
	top: 500px;
	right: 500px;
	font-weight: bold;
	font-size: 2em;
	border: 2px groove red;
	border-radius: 4px;
	transform: rotate(-10deg);
	background-color: red;
	color: white;
}
